version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "quarterly"
    open-pull-requests-limit: 5
    allow:
      - dependency-type: "all"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "quarterly"
    open-pull-requests-limit: 5
