.env
temp_files/
dbt_snow_env/
__pycache__/
*.pyc
dbt.log
memo.txt

# Dossiers générés par dbt
target/
dbt_packages/
dbt_transformations/logs/
logs/
.user.yml

# dossier généré par github action (après pull)
node_modules