.env
temp_files/
dbt_snow_env/
__pycache__/
*.pyc
dbt.log
memo.txt
nyc_taxi.egg-info/
.benchmarks

# fichiers générés par dbt
target/
dbt_packages/
dbt_transformations/logs/
logs/
.user.yml
package-lock.yml

# dossier généré par github action (après pull)
node_modules

# mkdocs
site/

# pytest
.pytest_cache